{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="flex flex-col gap-y-4 items-center justify-center">
<div class="bg-green-400 text-black rounded-2xl px-4 py-4 ">
    <h1 class =" font-bold bg-violet-600 px-2 py-2 w-40 rounded-xl">ABOUT US</h1>
    <p>Welcome to Chai Café — where every sip tells a story! We're not just a café; we're a cozy corner for chai lovers and creative thinkers. Whether you're here for the aroma, 
        the flavor, or just the vibe, our doors are always open with a warm cup of chai.</p>

</div>
<div class="bg-green-400 text-black rounded-2xl px-4 py-4 ">
    <H1 class =" font-bold bg-violet-600 px-2 py-2 w-40 rounded-xl">OUR MISSION</H1>
    <p>
        Our mission is simple: bring people together over a cup of chai. We believe that tea is more than just a drink — it’s a culture, a conversation starter, and a moment of peace in a busy day. With a menu that blends 
        traditional Indian flavors with a modern twist, we serve happiness in every cup.
    </p>
</div>
<div class="bg-green-400 text-black rounded-2xl px-4 py-4 ">
    <h1 class =" font-bold bg-violet-600 px-2 py-2 w-40 rounded-xl">HOW WE STARTED</h1>
    <p>
        Chai cafe began as a college side project — a fusion of two passions: building beautiful web experiences and enjoying endless cups of chai. What started as a small Django experiment has grown into a full-stack chai café app 
        where users can browse, review, and order their favorite teas.
    </p>
</div>
</div>
{% endblock %}